@import "../../variables.scss";

.button {
    border: $primary-color solid 1.5px;
    border-radius: 0.25rem;
    margin: 1rem 0;
    padding: 0 8px;

        border-radius: 0.25rem;
        background-color: $bg-color;
        box-shadow: none;
        margin-left: 0 !important;
        text-align: center;
        transition: transform 0.3s;
        width: 110px;
        
        &.btnActive {
            background-color: $primary-light;
            color: white;
        }

        &:focus-visible {
            transform: scale(1.1);
        }
}