.articlesCont {
    // height: 100%;
    // flex-grow: 1;
    // overflow: hidden;
    // overflow-x: hidden;
    // overflow-y: auto;
    width: 100vw;
    position: relative;

    .articlesMain.boxesIn {
        transform: translateX(0);
    }

    .articlesMain.boxesOut {
        opacity: 0;
        transform: translateX(-100vw);
    }

    .articlesMain {
        // position: absolute;
        // display: none;
        height: 100%;
        overflow: auto;
        padding-bottom: 1rem;
        transition: 1s;
        min-width: 100%;

        .articleBoxes {
            align-items: center;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-top: 1rem;
        }
    }

    .articleCont {
        left: 0;
        min-width: 100%;
        overflow: auto;
        position: absolute;
        top: 0;
        transition: 1s;        
        width: 100vw;
    }

    .articleIn {
        transform: translateX(0);
    }

    .articleOut {
        opacity: 0;
        transform: translateX(100vw);
    }
}