.article {
    height: 100%;
    
    .articleContent {
        padding: 2rem 0;

        ul {
            columns: 1;
            font-size: 16px;
        }

        ul.liText {
            columns: 1;
            
            li {
                margin-bottom: 1rem;
            }
        }

        img.imgCaption {
            margin-bottom: 1rem;
        }

        p.imgCaption {
            font-size: 14px;
            text-align: center;
        }

        .articleLink {
            display: block;
            margin-bottom: 2rem;
        }
        
        .articleTxt {
            font-size: 16px;
            margin-bottom: 1.5rem;
        }
        
        .bold {
            font-weight: bold;
            font-size: 18px;
            margin-top: 2rem;
        }
        
        .blockImg {
            display: block;
            height: 200px;
            margin: 2rem auto;
            object-fit: cover;
            width: 100%;
        }

        .floatLeft,
        .floatRight {
            margin-bottom: 2rem;
            margin-top: 2rem;
            width: 100%;
        }

        .floatLeft {
            float: left;
            margin-right: 1.5rem;
        }

        .floatRight {
            float: right;
            margin-left: 1.5rem;
        }

        .splitImgCont.imgCaption {
            margin-bottom: 0;
        }

        .splitImgCont {
            margin-bottom: 1rem;
            margin-top: 2rem;

            .splitImage {
                margin-bottom: 1rem;
                width: 100%;
            }
        }
    }

    .articleHead {
        h4 {
            font-weight: bold;
        }
    
        h5 {
            margin-bottom: 1rem;
        }
    }

    .backArrowCont {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        margin-top: 4rem;
        // padding: 0;
        transform: translateX(0px);
        transition: transform 0.4s;
        width: 50px;

        &:hover {
            transform: translateX(-15px);
        }

        p {
            font-size: 16px;
            height: 25px;
            line-height: 25px;
            margin: 0 0.5rem;
        }
        
        .backArrow {
            height: 25px;
            font-size: 24px;
            text-align: left;
        }

        .backBorder {
            border-bottom: solid 1px rgba(0, 0, 0, 0.534);
            border-top: solid 1px rgba(0, 0, 0, 0.534);
            content: "";
            display: inline-block;
            height: 25px;
            min-width: 65px;
            position: absolute;
            transform: translateX(0px);
            transition: 0.4s;
        }

        .backHover {
            border-color: black;
            transform: translateX(20px);
        }
    }
}

@media only screen and (min-width: 768px) {
    .article {
        .articleContent {
            ul {
                columns: 2;
            }
        
            .floatLeft,
            .floatRight {
                margin-top: 0;
                margin-bottom: 0.25rem;
                width: 33%;
            }
        
            .splitImgCont {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
        
                .splitImage {
                    width: 48%;
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .article {
        .articleContent {
            ul {
                columns: 3;
            }
        }
    }
}

@media only screen and (min-width: 1536px) {
    .article {
        .articleContent {
            .splitImage {
                width: 50%;
            }
        }
    }
}