@import "../../variables.scss";

.heroCont {
    position: relative;
    color: white;

    .heroBg {
        background: no-repeat center center;
        background-size: cover;
        background-attachment: scroll;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .heroText {
        padding-top: 4rem;
        position:relative;
        z-index: 2;

        // h1 {
        // //    border-right: 3px solid white; 
        //     position: relative;
        // }

        // h1::after {
        //     content:'';
        //     display:inline-block;
        //     margin-left:3px;
        //     background-color:white;
        //     animation-name:blink;
        //     animation-duration:0.5s;
        //     animation-iteration-count: infinite;
        //     height:28px;
        //     width:4px;
        // }

        // h1.cursor {
        //     height:28px;
        //     width:4px;
        // }

        // h4.cursor::after {
        //     height:28px;
        //     width:4px;
        // }
    }
}

// .homeHero {
//     transform:scale(1.2);
//     overflow: hidden;
// }
// .hero > .overlay {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     z-index: 1;
// }

// .hero > .inner {
//     position: relative;
//     z-index: 2;
// }