@import "./variables.scss";
@import "../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

* {
    box-sizing: border-box;
    padding: none;
    margin: none;
}

h1 {
    font-size: 1.8rem;
}

.footerStyles {
    background-color:$primary-color;

    div {
        color: white;

        a {
          color: white;
          text-decoration: none;
        }
    }
}

@include media-breakpoint-up(sm) {
  
  h1 {
      font-size: 2rem;
  }
}

@include media-breakpoint-up(md) {
  h1 {
    font-size: 2.5rem;
  }
}