@import "./variables.scss";
@import "../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

* {
    box-sizing: border-box;
    padding: none;
    margin: none;
}

section {
  overflow: hidden;

  .exit {
    opacity: 1;
    transform: translateX(0);
  }

  .exitActive {
    opacity: 0;
    transition: 200ms linear;
    transform: translateX(-1%);
  }

  .exitDone {
    opacity: 0;
  }

  .enter {
    opacity: 0;
    transform: translateX(1%);
  }
  
  .enterActive {
    opacity: 1;
    transition: 300ms linear;
    transition-delay: 100ms;
    transform: translateX(0);
  }
}

.footerStyles {
    background-color:$primary-color;

    div {
        color: white;

        a {
          color: white;
          text-decoration: none;
        }
    }
}